<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elsafty.messagingmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".newMessageActivity"
            android:label="@string/new_message"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TrashActivity"
            android:label="@string/trash"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/schedule"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SentActivity"
            android:label="@string/sent"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>