<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elsafty.messagingmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.NewMessageActivity"></activity>
        <activity
            android:name=".Activities.SelelctForMessageActivity"
            android:label="Select Contact"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.SelectContactActivity"
            android:label="@string/title_activity_select_contact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.NewGroupActivity"
            android:label="@string/newGroupActivity_label"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.ScheduleMessageActivity"
            android:label="@string/newMessageActivity_label"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.TrashActivity"
            android:label="@string/trashActivity_label"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.ScheduleActivity"
            android:label="@string/scheduleActivity_label"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.SentActivity"
            android:label="@string/sentActivity_label"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadcastReciever.NotifyUser"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".BroadcastReciever.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.SEND_SMS" />

</manifest>